<!-- start testimonials -->
<div class="testimonials">
  <div class="container">
    <p class="text-center m-0 p-0">أفضل العملاء</p>
    <h4 class="text-center fa-2x clients">عملائنا يقولون عنا!!!</h4>
    <div class="iconSwiper">
      <i class="fa fa-chevron-right m-2"></i>
      <i class="fa fa-chevron-left m-2"></i>
    </div>
    <div class="swiper mySwiper3">
      <div class="swiper-wrapper mt-2">
        <div class="swiper-slide">
          <div class="sectionTestimonials">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="m-0 p-0 text-testimon mt-3">
              Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
              stet amet eirmod eos labore diam
            </p>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                width="60"
                height="60"
                src="assets/images//testimonials/testimonial-1.jpg"
                alt="testimonails image"
                loading="lazy"
              />
              <div class="d-block m-3">
                <p class="clientName">Client Name</p>
                <span>Profession</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sectionTestimonials">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="m-0 p-0 text-testimon mt-3">
              Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
              stet amet eirmod eos labore diam
            </p>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                width="60"
                height="60"
                src="assets/images//testimonials/testimonial-2.jpg"
                alt="testimonails image"
                loading="lazy"
              />
              <div class="d-block m-3">
                <p class="clientName">Client Name</p>
                <span>Profession</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sectionTestimonials">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="m-0 p-0 text-testimon mt-3">
              Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
              stet amet eirmod eos labore diam
            </p>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                width="60"
                height="60"
                src="assets/images//testimonials/testimonial-3.jpg"
                alt="testimonails image"
                loading="lazy"
              />
              <div class="d-block m-3">
                <p class="clientName">Client Name</p>
                <span>Profession</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sectionTestimonials">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="m-0 p-0 text-testimon mt-3">
              Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
              stet amet eirmod eos labore diam
            </p>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                width="60"
                height="60"
                src="assets/images//testimonials/testimonial-1.jpg"
                alt="testimonails image"
                loading="lazy"
              />
              <div class="d-block m-3">
                <p class="clientName">Client Name</p>
                <span>Profession</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="sectionTestimonials">
            <i class="fa fa-quote-left fa-2x"></i>
            <p class="m-0 p-0 text-testimon mt-3">
              Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor
              stet amet eirmod eos labore diam
            </p>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                width="60"
                height="60"
                src="assets/images//testimonials/testimonial-4.jpg"
                alt="testimonails image"
                loading="lazy"
              />
              <div class="d-block m-3">
                <p class="clientName">Client Name</p>
                <span>Profession</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end testimonials -->
