<div class="order-details mt-4">
  <div class="container">
    <h3 class="mb-4">معلومات عن الاوردر</h3>
    <div class="table-order-details table-bg p-2 mt-3">
      <div class="row">
        <div class="col-12 col-md-4">
          <h2>طريقة الدفع</h2>
          <p class="text-black">عند التسليم</p>
        </div>
        <div class="col-12 col-md-4">
          <h2>المستلم</h2>
          <p class="text-black">احمد كمال</p>
          <p class="text-black">مصر, الشرقية</p>
          <p class="text-black">
            الشرقية - بلبيس - شارع 21 - صبحي فهمي - عمارة: 123 - ط الرقم: 1 -
            شقة رقم 7 التفاصيل: 21 ش صبحى فهمى ارض الجولف
          </p>
          <p class="text-black">رقم موبايل: +201154741330</p>
        </div>
        <!-- <div class="col-12 col-md-4">
                    <h2>مراجعة الاوردر</h2>
                    <p class="text-black">SubTotal ( 2 Items ): 510 EGP</p>
                    <p class="text-black">shipping fees: 36 EGP</p>
                    <p class="text-black">Code Fees 5 EGP</p>
                    <p class="text-black">Grand Total 551 EGP</p>
                </div> -->
      </div>
    </div>

    <div class="shipment-track mt-3">
      <!-- <div class="row border-bottom text-center">
                <div class="col-12 col-md-4">
                    <h5>Shipment 2 Of 2</h5>
                    <p style="color: red; font-weight: 500;">pending</p>
                </div>
                <div class="col-12 col-md-4">
                    <h5>Shipped By: Olbac.com</h5>
                    <p style="color: var(--colorText);font-weight: 700;">Tracking #: 1005</p>
                </div>
                <div class="col-12 col-md-4 mt-3">
                    <h5 class="text-decoration-underline"><a href="./shipping.html">Track Shipment</a></h5>
                </div>
            </div> -->

      <!-- first progress bar  -->
      <div class="stepper-wrapper mt-4">
        <div class="stepper-item1">
          <div class="step-name1 text-uppercase">
            <i class="fas fa-fill track-active fa-4x color-gray"></i>
          </div>
        </div>
        <div class="stepper-item1">
          <div class="step-name1 text-uppercase">
            <i class="fas fa-check-circle fa-4x color-gray"></i>
          </div>
        </div>
        <div class="stepper-item1">
          <div class="step-name1 text-uppercase">
            <i class="fas fa-truck fa-4x color-gray"></i>
          </div>
        </div>
        <div class="stepper-item1">
          <div class="step-name1 text-uppercase">
            <i class="fas fa-clipboard-check fa-4x color-gray"></i>
          </div>
        </div>
      </div>

      <!-- second progress bar  -->
      <div class="stepper-wrapper">
        <div class="stepper-item completed">
          <div class="step-counter"></div>
          <div class="step-name text-uppercase">جاري المعالجة</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter"></div>
          <div class="step-name text-uppercase">تم التأكيد</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter"></div>
          <div class="step-name text-uppercase">الشحن</div>
        </div>
        <div class="stepper-item">
          <div class="step-counter"></div>
          <div class="step-name text-uppercase">تم التوصيل</div>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6 col-md-4">
          <div class="cart-img">
            <img
              src="./images/categoriesImages/cat1.jpg"
              alt="image cart"
              loading="lazy"
            />
          </div>
        </div>
        <div class="col-6 col-md-8">
          <div class="content-swiper bg-white mt-5">
            <p class="text-uppercase m-0 p-0 name-mobile">برجر</p>
            <p class="text">برجر تيستى يقدم مع بططاطس والكولا</p>
            <div class="row">
              <div class="col-12 col-md-6">
                <p class="price-swiper m-0 p-0">100,00 جنيه</p>
              </div>
              <div class="col-12 col-md-12 d-flex">
                <i class="fas fa-star text-blue"></i>
                <i class="fas fa-star text-blue"></i>
                <i class="fas fa-star text-blue"></i>
                <i class="far fa-star text-blue"></i>
                <i class="far fa-star text-blue"></i>
              </div>
            </div>
          </div>
          <br />
          <span
            class="text-black fw-bold p-2 rounded"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal-7"
            style="cursor: pointer; border: 1px solid black"
          >
            قيم ألأن
          </span>
        </div>
      </div>

      <div class="description-porduct"></div>
    </div>

    <div class="description-product">
      <div class="items d-flex">
        <p class="text-black">المجموع الفرعى: &nbsp;</p>
        <p class="text-black">100 جنيه</p>
      </div>
      <div class="items d-flex">
        <p class="text-black">خدمة التوصيل: &nbsp;</p>
        <p class="text-black">50 جنيه</p>
      </div>
      <div class="items d-flex">
        <p class="text-black">خدمة الضريبة المضافة: &nbsp;</p>
        <p class="text-black">15 جنيه</p>
      </div>
      <div class="items d-flex">
        <p class="text-black fw-bold mt-1">المجموع الكلى: &nbsp;</p>
        <p class="text-danger fw-bold fs-4">165 جنيه</p>
      </div>
    </div>
  </div>
</div>
