<!-- start preloader -->
<div class="preloaders" *ngIf="loading">
  <div class="loaders"></div>
</div>
<!-- end preloader -->

<!-- start scroll to top -->
<button
  class="scroll-to-top"
  (waiting)="scrollBtn()"
  (click)="upbtn()"
  [hidden]="!upBtn"
>
  <i class="fas fa-hand-point-up text-white shadow-lg"></i>
</button>
<!-- end scroll to top -->

<!-- start header -->

<nav class="navbar navbar-expand-sm shadow-sm bg-white sticky-top">
  <div class="container">
    <i
      class="fas fa-bars fa-2x mt-2 mr-3"
      data-bs-toggle="offcanvas"
      data-bs-target="#demo"
    ></i>
    <a routerLink="">
      <img
        class="logo-navbar shadow-lg"
        src=""
        style="border-radius: 50%"
        width="80"
        height="80"
        alt="image logo"
        loading="lazy"
      />
    </a>
    <div class="offcanvas offcanvas-end" id="demo">
      <div class="offcanvas-header">
        <h1 class="offcanvas-title">
          <a routerLink="">
            <img src="" width="80" height="80" alt="image menu" loading="lazy"
          /></a>
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>
      <div class="offcanvas-body col justify-content-md-between">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about-us">من نحن</a>
          </li>
          <div class="dropdown">
            <li
              class="nav-item d-none d-sm-block d-flex"
              id="dropdownMenuButton1"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <a class="nav-link d-flex chevron-active" href="#">
                <span class="d-flex"
                  >الأقسام<i
                    class="chevron-i fa fa-chevron-down d-flex mt-1 m-1"
                    style="display: block !important"
                  ></i>
                </span>
              </a>
            </li>
            <ul
              class="dropdown-menu m-0 p-0"
              aria-labelledby="dropdownMenuButton1"
            >
              <li>
                <a class="dropdown-item hover-it"> أكل</a>
              </li>
              <li>
                <a class="dropdown-item hover-it">عيادات</a>
              </li>
              <li>
                <a class="dropdown-item hover-it">محاميين</a>
              </li>
            </ul>
          </div>
          <li class="nav-item">
            <a class="nav-link" routerLink="testimonails">أراء العملاء</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact-us">أتصل بنا</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ourteam">فريقنا</a>
          </li>
        </ul>

        <div class="icons">
          <!-- start modal user -->
          <button
            type="button"
            class="btn-login mt-3 mt-md-0"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            data-bs-whatever="@mdo"
          >
            <i class="fas fa-user text-white"></i>
          </button>

          <!-- button cart -->
          <a routerLink="cart">
            <button class="icon-top">
              <i class="fa fa-cart-plus text-white"></i>
              <span class="badge-cart">3</span>
            </button>
          </a>

          <!-- button heart -->
          <a routerLink="favourite">
            <button class="icon-top">
              <i class="far fa-heart text-white"></i>
              <!-- <span class="badge-heart">3</span> -->
            </button>
          </a>

          <!-- start search modal -->
          <a href="#search">
            <i class="fas fa-search text-white m-2"></i>
          </a>
          <div id="search-box">
            <div class="container">
              <a class="close" href="#close"></a>
              <div class="search-main">
                <div class="search-inner">
                  <input
                    type="text"
                    id="inputSearch"
                    name="firstname"
                    placeholder="أبحث هنـــــــا..."
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- start dropdown profile -->
          <div class="dropdown for-mobile-none">
            <button class="dropbtn">
              <img
                src="https://elbarkaa.com/assets/website/images/elbaraka-logo%20white%20.png"
                alt="profile image"
                loading="lazy"
                class="image-profile"
              />
            </button>
            <div
              class="dropdown-content"
              style="
                top: 30px;
                left: 20px;
                min-width: 200px;
                border-radius: 5px;
              "
            >
              <img
                class="mx-auto d-block mt-2"
                src="https://elbarkaa.com/assets/website/images/elbaraka-logo%20white%20.png"
                width="80"
                height="80"
                alt="image profile"
                style="border-radius: 50%"
              />
              <p class="text-center nameProfile mt-2">Ahmed Serag</p>
              <p class="textMenu text-white m-2">
                <i class="fa fa-info-circle m-1"></i>
                About Us
              </p>
              <p class="textMenu text-white m-2">
                <i class="fa fa-phone-alt m-1"></i>
                Contact Us
              </p>
              <p class="textMenu text-white m-2">
                <i class="fa fa-cog m-1"></i>
                Settings
              </p>
            </div>
          </div>
        </div>
        <!--end icon  -->
      </div>
    </div>
  </div>
</nav>
<!--end header  -->

<!-- start  modal register -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">التسجيل</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              placeholder="الاسم بالكامل"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              placeholder="الايميل"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              placeholder="رقم الهاتف"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="recipient-name"
              placeholder="كلمة السر"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="recipient-name"
              placeholder="اعادة كتابة كلمة السر"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn mx-auto d-block w-100">
            تسجيل الدخول
          </button>
        </div>
      </form>

      <h6 class="fw-bold text-center">
        هل بالفعل ليدك حساب?
        <span
          class="text-primary"
          data-bs-target="#exampleModal-2"
          data-bs-toggle="modal"
          data-bs-dismiss="modal"
          style="cursor: pointer"
          >سجل الأن!</span
        >
      </h6>
    </div>
  </div>
</div>

<!-- start  modal Login Now -->
<div
  class="modal fade"
  id="exampleModal-2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">مرحبا بعودتك!</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <div>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              placeholder="الايميل"
              required
            />
          </div>
          <div>
            <input
              type="number"
              class="form-control"
              id="recipient-name"
              placeholder="كلمة السر"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn w-100">سجل الأن</button>
          <span
            class="text-primary fa-1x"
            data-bs-target="#exampleModal-3"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
            style="cursor: pointer"
            >نسيت كلمة المرور?</span
          >
        </div>
      </form>

      <p class="fw-bold text-center text-dark">يمكنك التسجيل بـ..</p>
      <ul class="d-flex justify-content-center socail-modal">
        <li>
          <button class="btn-facebook m-2">
            <i class="fab fa-facebook-f text-white"></i>&nbsp; facebook
          </button>
        </li>
        <li>
          <button class="btn-google m-2">
            <i class="fab fa-google text-white"></i>&nbsp; Google &nbsp;&nbsp;
          </button>
        </li>
      </ul>
      <h6 class="text-dark fw-bold text-center">
        هل لديك اي حساب?
        <span
          class="text-primary"
          data-bs-target="#exampleModal"
          data-bs-toggle="modal"
          data-bs-dismiss="modal"
          style="cursor: pointer"
          >تسجيل الدخول الأن!</span
        >
      </h6>
    </div>
  </div>
</div>
<!-- end  modal Login Now -->

<!-- start modal forget-password -->
<div
  class="modal fade"
  id="exampleModal-3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">نسيت كلمة المرور</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <div>
            <input
              type="text"
              class="form-control"
              id="recipient-name"
              placeholder="الايميل"
              required
            />
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn mx-auto d-block pe-3 ps-3">
            ارسال
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- start modal forget-password -->
