<!-- start product details -->
<div class="product-details mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="product-view">
          <div class="row">
            <div class="col-md-3">
              <div class="vertical-swiper mt-sm-0 mt-md-2">
                <div class="swiper mySwiper4" dir="ltr">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="item">
                        <a href="#"
                          ><img
                            src="assets/images/categoriesImages/cat1.jpg"
                            alt="image product slide"
                            loading="lazy"
                        /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item">
                        <a href="#"
                          ><img
                            src="assets/images/categoriesImages/cat2.jpg"
                            alt="image product slide"
                            loading="lazy"
                        /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item">
                        <a href="#"
                          ><img
                            src="assets/images/categoriesImages/cat-3.jpg"
                            alt="image product slide"
                            loading="lazy"
                        /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item">
                        <a href="#"
                          ><img
                            src="assets/images/categoriesImages/cat-4.jpg"
                            alt="image product slide"
                            loading="lazy"
                        /></a>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="item">
                        <a href="#"
                          ><img
                            src="assets/images/categoriesImages/cat-4.jpg"
                            alt="image product slide"
                            loading="lazy"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-button-next d-md-none d-sm-block"></div>
                  <div class="swiper-button-prev d-md-none d-sm-block"></div>
                </div>
              </div>
            </div>
            <div class="col-md-9 d-none d-md-block">
              <div class="block mt-1 p-2">
                <img
                  src="assets/images/categoriesImages/cat-4.jpg"
                  class="img-fluid mx-auto d-block block__pic"
                  id="outerzoom"
                  alt="image view"
                  loading="lazy"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-none d-sm-block">
        <div class="box-product-details p-5">
          <!-- name product -->
          <p class="text-uppercase m-0 p-0">أسماك</p>
          <h2 class="fw-normal">أسماك بحري</h2>

          <!-- price -->
          <div class="row">
            <div class="col-3 col-md-6">
              <p class="price-product">23.000EGP</p>
            </div>
            <div class="col-4 col-md-6">
              <p class="text-decoration-line-through fw-bold mt-2">33.000EGP</p>
            </div>
          </div>

          <!-- stars -->
          <div class="col-12 col-md-12 d-flex">
            <i class="fas fa-star text-blue"></i>
            <i class="fas fa-star text-blue"></i>
            <i class="fas fa-star text-blue"></i>
            <i class="far fa-star text-blue"></i>
            <i class="far fa-star text-blue"></i>
          </div>

          <!-- buttons share -->
          <div class="share-social-container mt-3">
            <span style="font-size: 1.5rem"></span>
            <div
              class="links-share a2a_kit a2a_kit_size_32 a2a_default_style"
              style="line-height: 32px; margin-top: 5px"
            >
              <a
                class="facebook-btn a2a_button_facebook"
                target="_blank"
                href="/#facebook"
                rel="nofollow noopener"
              ></a
              ><a
                class="google-btn a2a_button_google_gmail"
                target="_blank"
                href="/#google_gmail"
                rel="nofollow noopener"
              ></a
              ><a
                class="twitter-btn a2a_button_twitter"
                target="_blank"
                href="/#twitter"
                rel="nofollow noopener"
              ></a
              ><a
                class="linkedin-btn a2a_button_linkedin"
                target="_blank"
                href="/#linkedin"
                rel="nofollow noopener"
              ></a
              ><a
                class="whatsapp-btn a2a_button_whatsapp"
                target="_blank"
                href="/#whatsapp"
                rel="nofollow noopener"
              ></a
              ><a class="whatsapp-btn a2a_dd" href=""
                ><span
                  class="a2a_svg a2a_s__default a2a_s_a2a"
                  style="background-color: rgb(1, 102, 255)"
                  ><svg
                    focusable="false"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 32 32"
                  >
                    <g fill="#FFF">
                      <path d="M14 7h4v18h-4z"></path>
                      <path d="M7 14h18v4H7z"></path>
                    </g></svg></span
                ><span
                  class="a2a_label a2a_localize"
                  data-a2a-localize="inner,Share"
                  >Share</span
                ></a
              >
              <div style="clear: both"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- tabs -->
      <div class="Tabs mt-3">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              المعلومات
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              التقييم
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              قائمة الاسعار
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="team-tab"
              data-bs-toggle="tab"
              data-bs-target="#team"
              type="button"
              role="tab"
              aria-controls="team"
              aria-selected="false"
            >
              فريق العمل
            </button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- first tab information -->
          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <!-- title -->
            <div
              class="title d-flex justify-content-between border-bottom w-25 mt-3"
            >
              <div class="d-flex">
                <p>اسماك <span>اسماك بحرى</span></p>
              </div>
              <div class="share addToHeart" style="cursor: pointer">
                <i class="far fa-heart change-between fs-5 mt-1"></i>
              </div>
            </div>
            <!-- subTitle -->
            <div class="subTitle border-bottom w-25 mt-3">
              <p>مطعم يقدم الاطباق الايطالية</p>
            </div>
            <!-- address -->
            <div class="address border-bottom w-25 mt-3">
              <h5>العنوان</h5>
              <p>242 طريق الجيش مصطفى كامل , سيدى جابر, الاسكندرية</p>
            </div>
            <!-- time of close & open -->
            <div class="timeAndOpen">
              <div class="d-flex">
                <p>وقت الفتح:</p>
                &nbsp;&nbsp;
                <p>9:00 صباحا</p>
              </div>
              <div class="d-flex">
                <p>وقت الغلق:</p>
                &nbsp;&nbsp;
                <p>5:00 مساءا</p>
              </div>
            </div>
          </div>
          <!-- second tab review product -->
          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <div class="row mt-3">
              <div class="col-3 col-md-2">
                <div class="img-reveiw">
                  <img
                    src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                    alt="image reveiew"
                    loading="lazy"
                  />
                </div>
              </div>
              <div class="col-8 col-md-4 desc-review">
                <div class="clear-fix">
                  <p class="float-end text-black">احمد سراج</p>
                  <div class="d-flex float-start">
                    <i class="fas fa-star text-blue"></i>
                    <i class="fas fa-star text-blue"></i>
                    <i class="fas fa-star text-blue"></i>
                    <i class="far fa-star text-blue"></i>
                    <i class="far fa-star text-blue"></i>
                  </div>
                </div>
                <br />
                <div class="d-block float-end">
                  <p class="m-0">
                    لقد استمتعت كثيرا بهذا الاكل الرائع الجميل شكرا لكم ع هذة
                    الجوده
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- third tab filter category -->
          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <div class="row mt-3 w-50 mobileView">
              <div class="col-6 col-md-4">
                <div
                  class="contentCat"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal-5"
                >
                  <img
                    class="imageCat"
                    src="https://m.media-amazon.com/images/I/51MW5l61nPL._AC_.jpg"
                    alt="category image"
                    loading="lazy"
                  />
                  <p class="text-center mt-2 fw-bold">فلاتر مياه</p>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div
                  class="contentCat"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal-5"
                >
                  <img
                    class="imageCat"
                    src="https://images-na.ssl-images-amazon.com/images/I/81RN4VZqvqL.__AC_SY300_SX300_QL70_ML2_.jpg"
                    alt="category image"
                    loading="lazy"
                  />
                  <p class="text-center mt-2 fw-bold">شمعات</p>
                </div>
              </div>
              <div class="col-6 col-md-4">
                <div
                  class="contentCat"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal-5"
                >
                  <img
                    class="imageCat"
                    src="https://cdn.salla.sa/mwKrz/cSojEDs0zlZyScxVij1jKKlRKkBkf3ysbXXoUxZb.jpg"
                    alt="category image"
                    loading="lazy"
                  />
                  <p class="text-center mt-2 fw-bold">قطع غيار</p>
                </div>
              </div>
            </div>
          </div>
          <!-- fourth tab review team -->
          <div
            class="tab-pane fade"
            id="team"
            role="tabpanel"
            aria-labelledby="team-tab"
          >
            <div class="row mt-3">
              <div class="col-3 col-md-2">
                <div class="img-reveiw">
                  <img
                    src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGVyc29ufGVufDB8fDB8fA%3D%3D&w=1000&q=80"
                    alt="image reveiew"
                    loading="lazy"
                  />
                </div>
              </div>
              <div
                class="col-8 col-md-4 desc-review"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal-8"
              >
                <div class="clear-fix">
                  <p class="float-end text-black">احمد كمال</p>
                  <div class="d-flex float-start">
                    <i class="fas fa-star text-blue"></i>
                    <i class="fas fa-star text-blue"></i>
                    <i class="fas fa-star text-blue"></i>
                    <i class="far fa-star text-blue"></i>
                    <i class="far fa-star text-blue"></i>
                  </div>
                </div>
                <br />
                <div class="d-block float-end">
                  <p class="m-0">
                    لقد استمتعت كثيرا بهذا الاكل الرائع الجميل شكرا لكم ع هذة
                    الجوده
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end product details -->
