<!-- start categories -->
<div class="categories">
  <div class="container">
    <h3 class="text-center mt-4 fs-2 fw-bold">أقســــــام....</h3>
    <div class="row mt-5">
      <div class="col-12 col-md-3">
        <p class="fw-bold fs-4 d-none d-sm-block">ألاقســــــــــام</p>
        <!-- display for PC -->
        <div class="forPc d-none d-sm-block">
          <div class="form">
            <div class="form-check mb-2">
              <input type="checkbox" value="" id="flexCheckIndeterminate" />
              <label for="flexCheckIndeterminate"> برجر </label>
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" value="" id="flexCheckIndeterminate" />
              <label for="flexCheckIndeterminate"> دجاج </label>
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" value="" id="flexCheckIndeterminate" />
              <label for="flexCheckIndeterminate"> بيتزا </label>
            </div>
            <div class="form-check mb-2">
              <input type="checkbox" value="" id="flexCheckIndeterminate" />
              <label for="flexCheckIndeterminate"> أسماك </label>
            </div>
          </div>
        </div>
        <!-- display for Mobile -->
        <select class="select d-none">
          <option value="">أقسامنــــــــا</option>
          <option value="برجر">برجر</option>
          <option value="دجاج">دجاج</option>
          <option value="بيتزا">بيتزا</option>
          <option value="أسماك">أسماك</option>
        </select>
      </div>
      <div class="col-12 col-md-9">
        <div class="row">
          <div class="col-12 col-md-4">
            <a routerLink="/product-details">
              <div class="cartCategories shadow-sm text-center">
                <img
                  class="imgCategories"
                  src="assets/images/categoriesImages/cat1.jpg"
                  alt="categories image"
                  loading="lazy"
                />
                <p class="mt-2 textCategories">برجر</p>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a routerLink="/product-details">
              <div class="cartCategories shadow-sm text-center">
                <img
                  class="imgCategories"
                  src="assets/images/categoriesImages/cat2.jpg"
                  alt="categories image"
                  loading="lazy"
                />
                <p class="mt-2 textCategories">بيتزا</p>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a routerLink="/product-details">
              <div class="cartCategories shadow-sm text-center">
                <img
                  class="imgCategories"
                  src="assets/images/categoriesImages/cat-3.jpg"
                  alt="categories image"
                  loading="lazy"
                />
                <p class="mt-2 textCategories">فراخ</p>
              </div>
            </a>
          </div>
          <div class="col-12 col-md-4">
            <a routerLink="/product-details">
              <div class="cartCategories shadow-sm text-center">
                <img
                  class="imgCategories"
                  src="assets/images/categoriesImages/cat-4.jpg"
                  alt="categories image"
                  loading="lazy"
                />
                <p class="mt-2 textCategories">سمك</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end categories -->
