<!-- start privacy -->
<div class="terms mt-5">
  <div class="container">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at
      repudiandae consequatur, suscipit nobis commodi id unde, error libero
      deleniti sed culpa, saepe fuga molestias quia est ullam illo reiciendis?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at
      repudiandae consequatur, suscipit nobis commodi id unde, error libero
      deleniti sed culpa, saepe fuga molestias quia est ullam illo reiciendis?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at
      repudiandae consequatur, suscipit nobis commodi id unde, error libero
      deleniti sed culpa, saepe fuga molestias quia est ullam illo reiciendis?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at
      repudiandae consequatur, suscipit nobis commodi id unde, error libero
      deleniti sed culpa, saepe fuga molestias quia est ullam illo reiciendis?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate at
      repudiandae consequatur, suscipit nobis commodi id unde, error libero
      deleniti sed culpa, saepe fuga molestias quia est ullam illo reiciendis?
    </p>
  </div>
</div>
<!-- end privacy -->
