<!-- start favourite -->
<div class="favourite">
  <div class="container">
    <h2 class="text-center mt-5">المفضــــــلة</h2>
    <div class="row mt-4">
      <div class="col-12 col-md-4">
        <div class="box-shadow shadow-lg mt-3 mt-md-2">
          <a href="./categories.html">
            <img
              src="assets/images/categoriesImages/cat1.jpg"
              alt="favourite"
              loading="lazy"
              class="image"
              style="width: 100%"
            />
            <p class="text-black mt-3 text-desc">برجر</p>
          </a>
          <div class="middle">
            <div class="icons d-flex">
              <div class="add-to-cart m-2">
                <i class="fa fa-cart-plus text-white"></i>
              </div>
              <div class="add-to-trash m-2">
                <i class="fa fa-trash text-white"></i>
              </div>
            </div>
          </div>
          <div class="icons-mobile d-lg-none d-lg-block">
            <div class="add-to-cart m-2">
              <i class="fa fa-cart-plus text-white"></i>
            </div>
            <div class="add-to-trash m-2">
              <i class="fa fa-trash text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="box-shadow shadow-lg mt-3 mt-md-2">
          <a href="./categories.html">
            <img
              src="assets/images/categoriesImages/cat2.jpg"
              alt="favourite"
              loading="lazy"
              class="image"
              style="width: 100%"
            />
            <p class="text-black mt-3 text-desc">بيتزا</p>
          </a>
          <div class="middle">
            <div class="icons d-flex">
              <div class="add-to-cart m-2">
                <i class="fa fa-cart-plus text-white"></i>
              </div>
              <div class="add-to-trash m-2">
                <i class="fa fa-trash text-white"></i>
              </div>
            </div>
          </div>
          <div class="icons-mobile d-lg-none d-lg-block">
            <div class="add-to-cart m-2">
              <i class="fa fa-cart-plus text-white"></i>
            </div>
            <div class="add-to-trash m-2">
              <i class="fa fa-trash text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="box-shadow shadow-lg mt-3 mt-md-2">
          <a href="./categories.html">
            <img
              src="assets/images/categoriesImages/cat-3.jpg"
              alt="favourite"
              loading="lazy"
              class="image"
              style="width: 100%"
            />
            <p class="text-black mt-3 text-desc">فراخ</p>
          </a>
          <div class="middle">
            <div class="icons d-flex">
              <div class="add-to-cart m-2">
                <i class="fa fa-cart-plus text-white"></i>
              </div>
              <div class="add-to-trash m-2">
                <i class="fa fa-trash text-white"></i>
              </div>
            </div>
          </div>
          <div class="icons-mobile d-lg-none d-lg-block">
            <div class="add-to-cart m-2">
              <i class="fa fa-cart-plus text-white"></i>
            </div>
            <div class="add-to-trash m-2">
              <i class="fa fa-trash text-white"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="box-shadow shadow-lg mt-3 mt-md-2">
          <a href="./categories.html">
            <img
              src="assets/images/categoriesImages/cat-4.jpg"
              alt="favourite"
              loading="lazy"
              class="image"
              style="width: 100%"
            />
            <p class="text-black mt-3 text-desc">اسماك</p>
          </a>
          <div class="middle">
            <div class="icons d-flex">
              <div class="add-to-cart m-2">
                <i class="fa fa-cart-plus text-white"></i>
              </div>
              <div class="add-to-trash m-2">
                <i class="fa fa-trash text-white"></i>
              </div>
            </div>
          </div>
          <div class="icons-mobile d-lg-none d-lg-block">
            <div class="add-to-cart m-2">
              <i class="fa fa-cart-plus text-white"></i>
            </div>
            <div class="add-to-trash m-2">
              <i class="fa fa-trash text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end favourite -->
