<!-- start slider -->
<div class="big-image">
  <div class="overlay">
    <!-- <p class="text-center firstText text-capitalize">food app</p> -->
    <h1 class="bigText text-capitalize">
      <span style="color: var(--colorText)">قيمنى</span> هي أكبر منصة ف الشرق
      الاوسط والوطن العربى للتقيمات
    </h1>
    <p class="smallText text-capitalize">قم بتنزيل تطبيق قيمنى الآن</p>
    <div class="d-flex">
      <button class="text-capitalize button-apps shadow-lg">play store</button>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="text-capitalize button-apps shadow-lg">app store</button>
    </div>
  </div>
</div>
<!-- end slider -->

<!-- start double Phones -->
<div class="container">
  <div class="doublePhones d-none d-sm-block">
    <img
      class="Phones"
      src="assets/images/aboveSlider/P12.png"
      alt="double Phones"
      loading="lazy"
    />
  </div>
</div>
<!-- end souble phones -->
<!-- start how works -->
<div class="howWorks">
  <div class="container">
    <h4 class="text-center fa-2x clients">كيف تعمل!!!</h4>
    <h5>رأيك يهمنا ومساعدتك ومشاركتك معانا هتساعدنا وهتساعد كل المستخدمين</h5>
    <div class="row mt-5">
      <div class="col-12 col-md-4">
        <img
          class="imageWorks"
          src="assets/images/howWorks/3941071.jpg"
          alt="wokr image"
          loading="lazy"
        />
        <h4 class="fw-bold mt-2">الخطوة الاولى</h4>
        <p class="mt-2">ادخل شوف احسن حد ف كل قسم عندنا</p>
      </div>
      <div class="col-12 col-md-4">
        <img
          class="imageWorks"
          src="assets/images/howWorks/4850.jpg"
          alt="wokr image"
          loading="lazy"
        />
        <h4 class="fw-bold mt-2">الخطوة التانية</h4>
        <p class="mt-2">ادخل شوف تقدر تحجز من اي قسم</p>
      </div>
      <div class="col-12 col-md-4">
        <img
          class="imageWorks"
          src="assets/images/howWorks/Wavy_F&D-01_Single-11.jpg"
          alt="wokr image"
          loading="lazy"
        />
        <h4 class="fw-bold mt-2">الخطوة التالتة</h4>
        <p class="mt-2">
          تقييمك لاختيارك هيساعدنا وهيساعد بقية الاشخاص ف اختيار افضل الاماكن
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end how works -->

<app-categories-section></app-categories-section>

<!-- start best places -->
<h4 class="text-center fa-2x places">افــــضل الامـــــاكن</h4>
<h5 class="text-center">لدينا افضـــل الاماكن لك...</h5>
<app-bestplaces-section></app-bestplaces-section>

<!-- end best places -->

<!-- start testimonials -->

<app-testimonails-section></app-testimonails-section>
<!-- end testimonials -->

<!-- start Team member -->
<app-ourteam-section></app-ourteam-section>
<!-- end team member -->
