<!-- start backgorund profile -->
<div class="backgorund-profile" style="height: 300px">
  <div class="overlay">
    <h1 class="mt-5">من نحـــــن</h1>
  </div>
</div>
<!-- end backgorund profile -->

<!-- start about us -->
<div class="about-us">
  <div class="container">
    <div class="row mt-4">
      <div class="col-12 col-md-6">
        <p>
          برنامج لاداء تقييمات ومساعدة المشاريع للنمو رنامج لاداء تقييمات
          ومساعدة المشاريع للنمو رنامج لاداء تقييمات ومساعدة المشاريع للنمو
          رنامج لاداء تقييمات ومساعدة المشاريع للنمو رنامج لاداء تقييمات ومساعدة
          المشاريع للنمو رنامج لاداء تقييمات ومساعدة المشاريع للنمو رنامج لاداء
          تقييمات ومساعدة المشاريع للنمو رنامج لاداء تقييمات ومساعدة المشاريع
          للنمو رنامج لاداء تقييمات ومساعدة المشاريع للنمو رنامج لاداء تقييمات
          ومساعدة المشاريع للنمو رنامج لاداء تقييمات ومساعدة المشاريع للنمو
          رنامج لاداء تقييمات ومساعدة المشاريع للنمو رنامج لاداء تقييمات ومساعدة
          المشاريع للنمو
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          class="aboutImage"
          src="assets/images/slider/bg-hero.jpg"
          alt="about image"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</div>
<!-- end about us -->
