<div class="bestPlaces">
  <div class="container">
    <div class="swiper mySwiper5">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="d-flex justify-content-center align-items-center">
            <img
              class=""
              src="https://yt3.ggpht.com/ytc/AKedOLS5rTsrjzAgo0yJdrdHBSdEskUL4JsSwCvDCfcKdw=s900-c-k-c0x00ffffff-no-rj"
              alt="testimonials 1"
              loading="lazy"
            />
            <div class="me-3 mt-5">
              <h3 class="text-black">ماكدونالدز</h3>
              <p class="text-black">افضل الاماكن</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex justify-content-center align-items-center">
            <img
              class=""
              src="https://touch-less.co/assets/imgs/logos/LogosTouchless-30.jpg"
              alt="testimonials 1"
              loading="lazy"
            />
            <div class="me-3 mt-5">
              <h3 class="text-black">زاكــس</h3>
              <p class="text-black">افضل الاماكن</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="d-flex justify-content-center align-items-center">
            <img
              class=""
              src="https://assets.cairo360.com/app/uploads/2016/02/23518814_2150270678533805_6448599816033575683_n.jpg"
              alt="testimonials 1"
              loading="lazy"
            />
            <div class="me-3 mt-5">
              <h3 class="text-black">سيتى كريب</h3>
              <p class="text-black">افضل الاماكن</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
