<!-- start footer -->
<div class="footer p-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h1 class="text-white">Logo</h1>
        <p class="text-white textSmallFooter">
          Lorem ipsum Deta for All to do u the best
        </p>
        <div class="social-icons mx-auto mx-md-0">
          <a href="#"><i class="fab fa-facebook m-2"></i></a>
          <a href="#"><i class="fab fa-twitter m-2"></i></a>
          <a href="tel:+201012370014"><i class="fab fa-whatsapp m-2"></i></a>
          <a href="#"><i class="fab fa-instagram m-2"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="textFooter">company</h5>
        <p class="textSmallFooter">
          <i
            class="fa fa-chevron-left m-1 iconFooter"
            style="font-size: 12px"
          ></i>
          <a href="./about-us.html" class="hoverText">about us</a>
        </p>
        <p class="textSmallFooter">
          <i
            class="fa fa-chevron-left m-1 iconFooter"
            style="font-size: 12px"
          ></i>
          <a href="./contact-us.html" class="hoverText">contact us</a>
        </p>
        <p class="textSmallFooter">
          <i
            class="fa fa-chevron-left m-1 iconFooter"
            style="font-size: 12px"
          ></i>
          <a href="./privacy.html" class="hoverText">privacy policy</a>
        </p>
        <p class="textSmallFooter">
          <i
            class="fa fa-chevron-left m-1 iconFooter"
            style="font-size: 12px"
          ></i>
          <a href="./terms&conditions.html" class="hoverText"
            >terms & condition</a
          >
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="textFooter">contact</h5>
        <p class="textSmallFooter">
          <i class="fa fa-map-marker-alt m-1"></i>
          123 Street, New York, USA
        </p>
        <p class="textSmallFooter">
          <i class="fa fa-phone m-1"></i>
          <a href="tel:+201155741330">01155741330</a>
        </p>
        <p class="textSmallFooter">
          <i class="fa fa-envelope m-1"></i>
          info@example.com
        </p>
      </div>
      <div class="col-12 col-md-3">
        <h5 class="textFooter">opening</h5>
        <h4 class="date">Sunday - Thursday</h4>
        <p class="textSmallFooter">9AM - 5 PM</p>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
