<!-- start payment -->
<div class="payment">
  <div class="container">
    <div class="content-steps">
      <ul class="progress-timeline">
        <li class="active">الشحـــن</li>
        <li class="active">الدفـــــع</li>
        <li>تــــم</li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-5 col-sm-12 shadow-sm">
        <h2 class="text-upperacse">عربة التسوق الخاصة بي</h2>
        <div class="box-shipping-product">
          <div class="row">
            <div class="col-4 col-md-4">
              <img
                src="./images/categoriesImages/cat1.jpg"
                class="img-responsive"
                alt="image shipping"
                loading="lazy"
              />
            </div>
            <div class="col-8 col-md-8">
              <p class="name-mobile m-0 p-0">برجر</p>
              <p class="text">بيج تيستى يقدم مع بطاطس والكولا</p>
              <p class="price-swiper m-0 p-0 fw-bold">100.00 جنيه</p>

              <div class="item-shipping d-flex justify-content-between mt-3">
                <p class="text-dark">الكمية:</p>
                <p class="text-dark">1</p>
              </div>

              <div class="shipping-price d-flex justify-content-between">
                <p class="text-dark">الشحن:</p>
                <p class="text-dark fw-bold">50.00 جنيه</p>
              </div>

              <div class="grand-total d-flex justify-content-between">
                <p class="text-dark">المجموع الكلى:</p>
                <p class="text-dark text-nowrap fw-bold">150.00 جنيه</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 col-sm-12 shadow-sm secondPart">
        <div class="box-to-box-address shadow-sm p-2">
          <h2 class="text-nowrap">شحن الى عنوانى</h2>
          <form action="" class="d-flex">
             
            <label for="html"
              >الشرقية - بلبيس - شارع 21 - صبحي فهمي - عمارة: 123 - ط الرقم: 1 -
              شقة رقم 7 التفاصيل: 21 ش صبحى فهمى ارض الجولف</label
            >
          </form>
        </div>

        <p class="mt-4 text-black fw-bold">
          طريقة الدفع<br />
          <!-- <span class="fw-normal">how would you like to pay ?</span> -->
        </p>

        <form action="#">
          <div class="all">
            <div
              class="cash-payment d-flex justify-content-between align-items-center mb-4 p-1 shadow-sm"
            >
              <div class="check d-flex">
                 
                <input
                  type="radio"
                  id="adrress"
                  name="addresses"
                  value="check-address"
                />
                  <label for="html">الدفع عند التسليم</label>
              </div>
            </div>
          </div>
        </form>
        <a routerLink="/done">
          <button type="submit" class="btn w-100 mb-2 fw-bold">
            تقديم الطلب
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- end payment -->
